body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}

a {
	color: #06C;
	text-decoration: none;
}

.shadow {
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;	
}

.clear {
	clear: both;	
}

a:hover {
	color: #333;
}

a:active {
	color: #F90;
}

#Languages {
	float: right;
	font-size: 0.8em;
}

#Container {
	width: 95%;
	margin: 0 auto;
}

footer {
	text-align: center;
	margin: 0 auto;
	font-size: 0.8em;
}

#TopTitle h1 {
	color: #06F;
	font-size: 2em;
	margin: 0px;
}

#TopTitle {
	border-bottom: 1px solid #333;
}

#Ubication {
	width: 500px;
	font-size: 0.8em;
	color: #666;
	float: left;
}

#Search {
	width: 208px;
	font-size: 0.8em;
	color: #666;
	float: right;
}

#Search form fieldset {
	border: none;
}

.Clear {
	clear: both;	
}

.Input {
	font-size: 0.9em;
	border: 1px solid #333;	
}

.Submit {
	font-size: 0.9em;
	border: 1px solid #333;
	background-color: #CCC;
}

.title {
	color: #F33;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}

.parameters {
	font-size: 0.8em;
	color: #999;
	font-style: italic;	
}

.small {
	font-size: 0.8em;
	color: #999;
	font-style: italic;
	margin-top: -20px;
}

.text {
	text-align: justify;
	font-size: 1.1em;
}

.sub-title {
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}

.code {
	border: 1px solid #999;
	background-color: #F5F5F5;
	font-size: 0.8em;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	color: #006;
}

#Sidebar {
	float:left;
	width:260px;	
	background-color:black;
	font-size: 0.8em;
	color: #CCC;
}

#Content {
	float:right;
	width:75%;
}

#Menu {
	height:100%;	
	margin-left:5px;
	font-size:0.8em;
	color:white;
}

.ListMenu {
	font-weight:bold;	
	margin-top:8px;
	text-indent:-25px;
	list-style:none;
}

.ListSMenu {
	margin-left:3px;
	list-style-image: url(../images/arrow2.png);
}

.ListSMenu a {
	color:#eee;
	text-decoration:none;
}

.ListSMenu a:hover {
	color:#bbb;
	
}
